.nftwrap {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.nftwrap .nft2 {
  background-color: black;
}
.nftwrap h2 {
  text-align: center;
  padding-top: 10px;
  letter-spacing: 5px;
  line-height: 30px;
  font-size: 35px;
}
.nftwrap p {
  letter-spacing: 1;
  font-size: 20px;
  text-align: center;
}
.owl-carousel .owl-item img {
  display: block;
  width: 50%;
  margin: 0 25%;
}
.titlenft h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
  letter-spacing: 4px;
  line-height: 20px;
}
.titlenft p {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 20px;
}
.flexnft {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 21rem;
  max-width: 90%;
  border: solid 3px black;
  border-radius: 2rem;
  padding: 0.75rem;
  text-decoration: none;
  color: inherit;
  background: white;

  transition: all 400ms ease;
  height: 465px;
  margin: 30px 40px 100px 40px;
  &:hover {
    background: #fff;
  }
  &__body {
    background: #fff;
    border-radius: 1.25rem;
    padding: 0.75rem;
  }
  &__top {
    display: flex;
    font-weight: 500;
  }
  &__owner,
  &__creator {
    width: 50%;
    display: flex;
  }
  &__owner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 2px;
      height: 100%;
      border-radius: 2px;
      background: #eceff1;
    }
  }
  &__creator {
    flex-direction: row-reverse;
    text-align: right;
  }

  &__user {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-size: 0.75rem;
      color: #b0bec5;
    }
  }
  &__image {
    padding-top: 75%;
    position: relative;
    overflow: hidden;
    margin-top: 0.75rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 16px 32px #eceff1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    margin: 0.75rem;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  &__footer {
    background: #fff;
    padding: 0.75rem;
    border-radius: 0.75rem 0.75rem 1.75rem 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    width: 48%;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    transition: all 200ms ease;
    &--primary {
      background: #263238;
      color: #eceff1;
      border-radius: 0.5rem 0.5rem 1.25rem 0.5rem;
      &:hover {
        background: #304ffe;
      }
    }
    &--secondary {
      border-radius: 0.5rem 0.5rem 0.5rem 1.25rem;
      &:hover {
        background: #eceff1;
        color: #304ffe;
      }
    }
  }
}
